
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.symbole{
    background-color: #5d68e2;
}

.symbole:hover{
    background-color: #4d55b1;
}

.nbr{
    background-color: #333849;
}

.nbr:hover{
    background-color: #333849ac;
}

.calculatrice{
    width: 400px;
    height: 600px;
    background-color: #212532;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
    position: relative;
    top: 100px;
}

.ecran{
    grid-column: span 4;
    text-align: right;
    font-size: 2em;
    border: none;
    border-radius: .75rem;
    color: #fff;
    background-color: #333849;
    padding: 8px;
    margin: 16px;
}

.symbole,
.nbr{
    border-radius: 50%;
    font-size: 1.25rem;
    color: white;
    border: none;
    margin: 10px;
}

